.bg-nav{
    background-color: #183181;
}

.sb-sidenav-five {
  background-color: #f9fafc;
  box-shadow: 0 8px 14px rgba(0, 0, 0, .10), 0 8px 8px rgba(0, 0, 0, .10) !important;
}

.sb-sidenav-five .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: rgba(41, 41, 41, 0.5);
}

.sb-sidenav-five .sb-sidenav-menu .nav-link {
  color: rgba(41, 41, 41, 0.9);
}

.sb-sidenav-five .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: rgba(41, 41, 41, 0.9);
}

.sb-sidenav-five .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: rgba(41, 41, 41, 0.25);
}

.sb-sidenav-five .sb-sidenav-menu .nav-link:hover {
  color: #181818;
  background-color: #f0efef;
}

.sb-sidenav-five .sb-sidenav-menu .nav-link.active {
  color: #181818;
  background-color: #f0efef;
}

.sb-sidenav-five .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #181818;
  background-color: #f0efef;
}

.sb-sidenav-five .sb-sidenav-footer {
  background-color: #eeeded;
}